:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

$colors: (
  'color-green': #0ab3a3,
  'color-black': #333,
);

.scroll {
  display: none;
  position: fixed;
  z-index: 3;
  color: white;
  right: calc(1vw + 1rem);
  bottom: calc(1vw + 1rem);
  width: calc(2rem + 2vw);
  height: calc(2rem + 2vw);
  font-size: calc(1.5rem + 1.5vw);
  background-color: color(color-green);
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  i {
    margin-top: 20%;
  }
}
.scroll.active {
  display: block;
}

@import 'app';
